.proposal-detail-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.proposal-card-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: white;
    gap: 0.3rem;
    margin: 0 auto;
}

.proposal-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1rem;
    text-align: center;
    height: 100%;
}

.proposal-reviews-status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.image-container.detail {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    border-radius: 8px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    list-style: none;
    flex: 1;
    min-height: 500px;
    max-height: 500px;
}

.reviews-div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.status-form {
    margin-top: 1rem;
    flex-shrink: 0;
}

.review-text {
    background-color: #f5f5f5;
    border-radius: 6px;
    word-break: break-word;
}

.review-date {
    font-size: 0.55rem;
    color: #164374;
}

.proposal-author.detail {
    font-size: 0.8rem;
}

.proposal-date.detail {
    font-size: 0.6rem;
}

.proposal-description-detail{
    font-size: 1.4rem;
    word-break: break-word;
}

.proposal-title.detail{
    font-size: 2rem;
}

.review-form {
    flex-shrink: 0;
}

.review-author {
    font-size: 0.8rem;
    color: #164374;
    font-weight: bold;
}

.review-message {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .proposal-card-detail {
        flex-direction: column;
    }

    .proposal-details,
    .proposal-reviews {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .reviews-list {
        max-height: 300px;
    }
}