.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.register-link {
    margin-top: 1rem;
    text-align: center;
}





