.profile-personal-data-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
}

.profile-proposal-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 1700px;
}



